@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #333;
  --color-light: #eeede3;
  --color-brand-2: #ef8338;
  --color-1: #00ffa3;
  --color-2: #ef8338;
  --color-3: #ff54d2;
  --color-4: #66a3e0;
  --color-4-dark: #3d64a0;
  --color-5: #69b8ae;
  --color-6: #f5eb55;
  --color-7: #ff6c89;
  --color-8: #6ea459;

  --font-secondary-heading: system-ui, sans-serif;
  --font-primary-heading: "Bebas", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --font-copy: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;

  --size-fluid: clamp(1.125rem, 2.5vw, 1.5rem);
  --step-0: clamp(1.125rem, 1.0682rem + 0.2424vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2534rem + 0.4121vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4686rem + 0.6461vw, 1.9531rem);
  --step-3: clamp(1.944rem, 0.91rem + 4.4116vw, 4.2188rem);
  --step-4: clamp(2.3328rem, 0.5167rem + 7.7485vw, 6.3281rem);
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

body {
  font-family: var(--font-copy);
  background-color: var(--color-light);
  background-color: #FFF;
  color: var(--color-dark);

}

p {
  font-size: var(--step-0);
  text-wrap: pretty;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary-heading);
  font-weight: bold;
  line-height: 1;
  text-wrap: balance;
  letter-spacing: 2px;
}

a:any-link,
a:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}