---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const desc =
  "På rosteriet ute i Järna rostar vi varje vecka för att alltid leverera nyrostat kaffe. Processen är enkel och allt görs för hand. Vi vill inte krångla till det, allt handlar om en bra råvara som vi utvecklar genom rostning. Råkaffet vi rostar kommer från ekologiska och biodynamiska gårdar från hela världen. Biodynamiska kaffegårdar drivs som ett slutet kretslopp där man inte odlar mer än vad gården själv orkar bära. Allt växtavfall komposteras och används sedan som näring för nya planteringar. Och så snurrar det på.";
---

<Layout
  title="Järna Rosteri | Ekologiskt och biodynamiskt kaffe."
  description="På rosteriet ute i Järna rostar vi varje vecka för att alltid leverera nyrostat kaffe. Processen är enkel och allt görs för hand. Vi vill inte krångla till det, allt handlar om en bra råvara som vi utvecklar genom rostning. "
  image="/images/coffee/brygg-white.avif"
>
  <main>
    <h1 class="visually-hidden">
      Järna Rosteri - Ekologiskt & Biodynamiskt Kaffe
    </h1>
    <nav>
      <menu class="card-links">
        <Card
          body="Ekologiskt kaffe"
          id="image-0"
          hoverBg="var(--color-brand-2)"
          color="var(--color-light)"
          href="#"
          imageSrc="/images/gallery/img1.avif"
        />
        <Card
          body="#instagram"
          id="image-1"
          hoverBg="var(--color-4-dark)"
          color="var(--color-light)"
          href="https://www.instagram.com/jarnarosteri/"
          imageSrc="/images/gallery/img21.avif"
        />
        <Card
          body="hantverks rosteri"
          id="image-2"
          hoverBg="var(--color-4-dark)"
          color="var(--color-light)"
          href="#"
          imageSrc="/images/gallery/img48.avif"
        />
        <Card
          body=""
          id="image-3"
          hoverBg="#FFF"
          color="var(--color-light)"
          href="#"
          imageSrc="/images/gallery/img4.avif"
        />
        <Card
          body="kontakt"
          id="image-4"
          hoverBg="var(--color-brand-2)"
          color="var(--color-light)"
          href="#"
          imageSrc="/images/gallery/img5.avif"
        />
        <Card
          body=":)"
          id="image-5"
          hoverBg="var(--color-4-dark)"
          color="var(--color-light)"
          href="#"
          imageSrc="/images/gallery/img6.avif"
        />
      </menu>
    </nav>
  </main>
  <script src="../js/CardListeners.ts"></script>
  <script src="../js/index.ts"></script>
</Layout>
<style is:global>
  /* .winning-card img {
    transition: all 0.3s;
    /* rotate: 90deg; */
    animation: wobble 0.25s;
  } */
  @keyframes rotate90 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
  @keyframes wobble {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .card-links {
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100svh;
  }

  .image-0 h2 {
    transform: rotate(0);
  }
  .image-1 {
    transform: rotate(0deg);
  }
  .image-2 h2 {
    transform: rotate(0deg);
  }
  .image-3 {
    transform: rotate(0deg);
  }
  .image-4 h2 {
    transform: rotate(0deg);
  }
  .image-5 h2 {
    transform: rotate(0deg);
  }
  @media (min-width: 750px) {
    .card-links {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
</style>
