---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Carousel from "../components/Carousel.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
import Footer from "../layouts/Footer.astro";
import Tractor from "../components/Tractor.astro";
---

<Layout title="Kontakt" description="Kontakta oss för mer information">
  <Main
    heading="kontakt"
    color="var(--color-4)"
    clipBg="var(--color-4-dark)"
    bg="var(--color-4-dark)"
    transitionName="image-4"
  >
    <Tractor />
  </Main>
  <div>kontakt</div>
</Layout>

<style>
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light);
  }
</style>
