---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Carousel2 from "../components/Carousel2.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
import Footer from "../layouts/Footer.astro";
import Tractor from "../components/Tractor.astro";
import Icon from "../components/Icon.astro";
import Icon2 from "../components/Icon2.astro";
import MiniShowcase from "../components/MiniShowcase.astro";
import SpaceParticles from "../components/SpaceParticles.astro";
---

<Layout title="Kaffe" description="">
  <Main
    heading="kaffet"
    color="var(--color-8)"
    clipBg="var(--color-dark)"
    bg="var(--color-light)"
    transitionName="image-1"
  >
    <div class="grid">
      <div class="carousel-container container">
        <Carousel2
          headingColor="var(--color-8)"
          spanColor="var(--color-1)"
          split={false}
          bgHeadingColor=""
        />
      </div>
      <WordCarousel />
      <div class="shader-container">
        <!-- <Shader
          colorIntensity={1}
          speed={0.4}
          rippleIntensity={0.2}
          width="100%"
          height="100%"
        /> -->
        <div>
          <h2>Some title</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quasi
            dolore adipisci culpa neque veniam nulla reprehenderit natus
            architecto ut.
          </p>
        </div>
        <article class="mini-showcase">
          <MiniShowcase />
        </article>
        <div>s</div>
        <SpaceParticles />

        <!-- <Shader3
          width="100%"
          height="100%"
          imageUrl="/images/coffee/brygglabels.avif"
          colorIntensity={0.3}
          speed={0.2}
          chaos={0.4}
        /> -->
        <!-- <Shader2
          width="100%"
          height="100%"
          imageUrl="/images/decorations/smile.webp"
          colorIntensity={2}
          speed={0.4}
          chaos={3}
        /> -->
      </div>
    </div>
  </Main>
</Layout>

<style>
  .mini-showcase {
    /* position: absolute; */
    /* grid-column: 1 / -1; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .grid {
    position: relative;
    display: grid;
    @media (min-width: 1000px) {
      /* grid-template-columns: 1fr 100px 1fr; */
    }
  }

  /* From Uiverse.io by escannord */
  .container {
    /* width: 100%;
    height: 100%; */
    --color-light-1: var(--color-light);
    --color-dark-2: var(--color-dark);
    --bg: linear-gradient(
        45deg,
        var(--color-dark-2) 25%,
        transparent 25%,
        transparent 75%,
        var(--color-dark-2) 75%,
        var(--color-dark-2)
      ),
      linear-gradient(
        45deg,
        var(--color-dark-2) 25%,
        var(--color-light-1) 25%,
        var(--color-light-1) 75%,
        var(--color-dark-2) 75%,
        var(--color-dark-2)
      );
    --bgsize: 60px 60px;
    --bgposition: 0 0, 30px 30px;
    background-color: white;
    background-image: var(--bg);
    background-size: var(--bgsize);
    background-position: var(--bgposition);
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: clip;
    box-shadow: inset 0px 0px 500px rgb(15, 15, 15);
  }

  .container::before {
    content: "";
    width: 100%;
    height: 150%;
    box-shadow:
      0px -25px 200px black,
      inset 0px 100px 500px rgba(15, 15, 15, 0.883);
    position: absolute;
    top: 55%;
    background-image: var(--bg);
    background-size: var(--bgsize);
    background-position: var(--bgposition);
    transform-origin: top;
    transform: rotateX(80deg);
  }

  .carousel-container {
    /* grid-column: 1 / -1; */
    display: grid;
    /* border-radius: 100vw; */
    align-items: center;
    /* height: 20vh; */
    /* grid-template-columns: 1fr 1fr; */
    /* max-width: 100%; */
    /* background: url("./images/andy-wang.avif");
    background-position: center; */
    background-color: var(--color-brand-2);
    /* background-blend-mode: luminosity; */
    /* border-radius: var(--radius-drawn-5); */
    /* background: url("/images/gallery/img2.avif"); */
    /* background-position: center;
    background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-size: 200px; */
    background-color: var(--color-4-dark);
    background-color: var(--color-7);
    background-color: var(--color-dark);
    background-color: var(--color-4-dark);
    background-color: var(--color-brand-2);
    background-blend-mode: color-dodge;
    /* background-blend-mode: difference; */
    /* background-blend-mode: darken; */
    /* Add your background pattern here */
    background-image: radial-gradient(
      rgba(246, 246, 246, 0.257) 2px,
      transparent 0
    );
    background: url("/images/andy-wang.avif");
    background: url("/images/urban.jpg");
    /* background-size: 30px 30px; */
    /* background-position: -5px -5px; */
    background: repeating-radial-gradient(
      circle at 50%,
      var(--color-1),
      var(--color-dark) 1em,
      white 1em,
      white 2em
    );

    z-index: 1000;
  }
  .shader-container {
    min-height: 50vh;
    position: relative;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 1fr;
    @media (min-width: 700px) {
      height: auto;
    }
  }
</style>
