---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Carousel2 from "../components/Carousel2.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
import Footer from "../layouts/Footer.astro";
import Tractor from "../components/Tractor.astro";
import Icon from "../components/Icon.astro";
import Icon2 from "../components/Icon2.astro";
---

<Layout title="Kaffe" description="">
  <Main
    heading="kaffet"
    color="var(--color-brand-2)"
    clipBg="var(--color-dark)"
    bg="var(--color-dark)"
    transitionName="image-1"
  >
    <div class="grid">
      <div class="carousel-container container">
        <Carousel2
          headingColor="var(--color-2)"
          spanColor="var(--color-2)"
          split={false}
          bgHeadingColor=""
        />
      </div>
      <WordCarousel />
      <div class="shader-container">
        <Shader
          colorIntensity={1}
          speed={0.4}
          rippleIntensity={0.2}
          width="100%"
          height="100%"
        />
        <Shader3
          width="100%"
          height="100%"
          imageUrl="/images/coffee/brygglabels.avif"
          colorIntensity={0.3}
          speed={0.2}
          chaos={0.4}
        />
        <!-- <Tractor /> -->
        <section class="mini-showcase">
          <div>
            <button popovertarget="popover1">
              <img src="/images/coffee/brygg.avif" alt="bag of coffebeans" />
              <Icon />
            </button>
            <button popovertarget="popover2">
              <img src="/images/coffee/esp.avif" alt="bag of coffebeans" />
              <Icon2 />
            </button>
            <button popovertarget="popover3">
              <img src="/images/coffee/mellan.avif" alt="bag of coffebeans" />
              <Icon />
            </button>
            <button popovertarget="popover4">
              <img
                src="/images/coffee/espgrande.avif"
                alt="bag of coffebeans"
              />
              <Icon />
            </button>
          </div>
        </section>
      </div>
    </div>
  </Main>
</Layout>

<style>
  .mini-showcase {
    position: absolute;
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* top: 0; */
    & button {
      background: none;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      width: 100px;
      border: none;
      cursor: pointer;
      transition:
        scale 0.2s ease,
        rotate 0.2s ease;
      &:hover {
        scale: 2;
        rotate: 180deg;
        z-index: 2;
      }
    }

    & div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* gap: 2rem; */
      width: 100%;
      & img {
        width: 50px;
      }
    }
  }
  .grid {
    position: relative;
    display: grid;
    @media (min-width: 1000px) {
      /* grid-template-columns: 1fr 100px 1fr; */
    }
  }

  .carousel-container {
    /* grid-column: 1 / -1; */
    display: grid;
    /* border-radius: 100vw; */
    align-items: center;
    /* height: 20vh; */
    /* grid-template-columns: 1fr 1fr; */
    /* max-width: 100%; */
    /* background: url("./images/andy-wang.avif");
    background-position: center; */
    background-color: var(--color-brand-2);
    /* background-blend-mode: luminosity; */
    /* border-radius: var(--radius-drawn-5); */
    /* background: url("/images/gallery/img2.avif"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 200px; */
    background-color: var(--color-4-dark);
    background-blend-mode: color-dodge;
    /* background-blend-mode: difference; */
    /* background-blend-mode: darken; */
    /* Add your background pattern here */

    background-image: url("/images/andy-wang.avif");
    /* background-size: 30px 30px; */
    /* background-position: -5px -5px; */

    z-index: 1000;
  }
  .shader-container {
    min-height: 50vh;
    @media (min-width: 700px) {
      height: auto;
    }
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
</style>
