---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
import Footer from "../layouts/Footer.astro";
import Tractor from "../components/Tractor.astro";
import SpaceParticles from "../components/SpaceParticles.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="Kaffe" description="">
  <Main
    heading="kaffet"
    color="var(--color-light)"
    clipBg="var(--color-brand-2)"
    bg="var(--color-4-dark)"
    transitionName="image-1"
  >
    <div class="grid">
      <div class="carousel-container">
        <Carousel
          headingColor="var(--color-4-dark)"
          spanColor="var(--color-3)"
          bgHeadingColor=""
          split={true}
        />
      </div>
      <WordCarousel bg="" />
      <div class="shader-container">
        <!-- <div>
          <p><span style="color: red">bio</span>LOGISKT</p>
          <Icon />
        </div> -->
        <!-- <Shader
          colorIntensity={1}
          speed={0.4}
          rippleIntensity={0.2}
          width="100%"
          height="100%"
        /> -->
        <SpaceParticles />

        <!-- <img src="/images/decorations/makers.avif" alt="" /> -->
        <Shader3
          width="100%"
          height="100%"
          imageUrl="/images/patterns/img46.avif"
          colorIntensity={1.3}
          speed={1.2}
          chaos={1.4}
        />
        <!-- <section class="mini-showcase">
          <div>
            <button popovertarget="popover1">
              <img
                style="rotate: -15deg"
                src="/images/coffee/brygg.avif"
                alt="bag of coffebeans"
              /></button
            >
            <button popovertarget="popover2">
              <img
                style="rotate: 45deg"
                src="/images/coffee/esp.avif"
                alt="bag of coffebeans"
              />
            </button>
            <button popovertarget="popover3">
              <img
                style="rotate: 200deg"
                src="/images/coffee/mellan.avif"
                alt="bag of coffebeans"
              />
            </button>
            <button popovertarget="popover4">
              <img
                style="rotate: 55deg"
                src="/images/coffee/espgrande.avif"
                alt="bag of coffebeans"
              />
            </button>
          </div>
        </section> -->
      </div>
    </div>
  </Main>
</Layout>

<style>
  .grid {
    /* position: relative; */
    display: grid;
    grid-template-rows: max-content 30px 1fr;
    @media (min-width: 1000px) {
      /* grid-template-columns: 1fr 100px 1fr; */
    }
  }

  .carousel-container {
    display: grid;
    align-items: center;

    /* background: url("/images/urban.jpg"); */
    background: url("/images/andy-wang.avif");
    /* background: url("/images/gallery/img2.avif"); */
    background-position: center;
    background-size: cover;
    background-color: var(--color-4-dark);
    background-blend-mode: color-dodge;

    z-index: 1000;
  }
  .shader-container {
    outline: 2px solid white;
    min-height: 50vh;
    position: relative;
    display: grid;
    align-items: center;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
      height: auto;
    }
  }
  .mini-showcase {
    position: absolute;
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & button {
      background: none;
      width: 100px;
      border: none;
    }

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      & img {
        width: calc(4vw + 1rem);
      }
    }
  }
</style>
