---
import Main from "../layouts/Main.astro";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import WordCarousel from "../components/WordCarousel.astro";
import SlantedGridGallery from "../components/SlantedGridGallery.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
import Shader3 from "../components/Shader3.astro";
import Footer from "../layouts/Footer.astro";
import Tractor from "../components/Tractor.astro";
import SpaceParticles from "../components/SpaceParticles.astro";
import CircleText from "../components/CircleText.astro";
---

<Layout title="Kaffe" description="">
  <Main
    heading="kaffet"
    color="var(--color-2)"
    clipBg="var(--color-brand-2)"
    bg="var(--color-light)"
    transitionName="image-1"
  >
    <div class="grid">
      <div class="carousel-container">
        <Carousel
          headingColor="var(--color-light)"
          spanColor="var(--color-light)"
          bgHeadingColor="var(--color-brand-2)"
        />
      </div>
      <WordCarousel bg="" />
      <div class="shader-container">
        <!-- <CircleText /> -->
        <div>
          <Shader
            colorIntensity={1}
            speed={0.4}
            rippleIntensity={0.2}
            width="100%"
            height="100%"
          />
        </div>
        <div class="row-span">
          <SpaceParticles bg="var(--color-2)" />
          <h2>Lorem Ipsum</h2>
        </div>

        <div>
          <Shader2
            width="100%"
            height="100%"
            imageUrl="/images/decorations/smile.webp"
            colorIntensity={2}
            speed={0.4}
            chaos={3}
          />
        </div>

        <div>
          <Shader3
            width="100%"
            height="100%"
            imageUrl="/images/coffee/esplabels.avif"
            colorIntensity={0.1}
            speed={0.1}
            chaos={0.1}
          />
        </div>
        <div>
          <h2>Lorem</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
            neque? Eligendi sed aspernatur reprehenderit magnam temporibus
            architecto iste nostrum? Illo!
          </p>
        </div>

        <section class="mini-showcase">
          <div>
            <button popovertarget="popover1">
              <img
                src="/images/coffee/brygg.avif"
                alt="bag of coffebeans"
              /></button
            >
            <button popovertarget="popover2">
              <img src="/images/coffee/esp.avif" alt="bag of coffebeans" />
            </button>
            <button popovertarget="popover3">
              <img src="/images/coffee/mellan.avif" alt="bag of coffebeans" />
            </button>
            <button popovertarget="popover4">
              <img
                src="/images/coffee/espgrande.avif"
                alt="bag of coffebeans"
              />
            </button>
          </div>
        </section>
        <!-- <section class="overlay-text">
          <h2>
            WWW
            <img
              width="200"
              src="/images/logos/demeter.avif"
              alt="bag of coffebeans"
            />
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum,
            in.
          </p>
        </section> -->
      </div>

      <!-- <Shader3
          width="100%"
          height="100vh"
          imageUrl="/images/coffee/esplabels.avif"
          colorIntensity={0.2}
          speed={0.3}
          chaos={0.5}
        /> -->
    </div>
  </Main>

  <!-- <Footer bg="var(--color-4-dark)" color="var(--color-brand-2)" /> -->
</Layout>

<style>
  .row-span {
    grid-row: span 2;
    position: relative;
    & h2 {
      position: absolute;
      font-size: var(--size-fluid-4);
      top: 10px;
      left: 10px;
      color: var(--color-light);
    }
  }
  .mini-showcase {
    position: absolute;
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 10px;
    & button {
      background: none;
      width: 100px;
      border: none;
    }

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      /* gap: 2rem; */
      width: 100%;
      & img {
        width: calc(4vw + 1rem);
      }
    }
  }
  .grid {
    position: relative;
    display: grid;
    /* padding-bottom: 1rem; */
    @media (min-width: 1000px) {
      /* grid-template-columns: 1fr 100px 1fr; */
    }
  }
  .carousel-container {
    /* grid-column: 1 / -1; */
    display: grid;
    /* border-radius: 100vw; */
    align-items: center;
    /* height: 20vh; */
    /* grid-template-columns: 1fr 1fr; */
    /* max-width: 100%; */
    /* background: url("./images/andy-wang.avif");
    background-position: center; */
    background-color: var(--color-brand-2);
    /* background-color: var(--color-4-dark); */
    /* background-blend-mode: luminosity; */
    /* border-radius: var(--radius-drawn-5); */
    /* background: url("/images/andy-wang.avif"); */
    /* background: url("/images/urban.jpg"); */
    /* background: url("/images/gallery/img2.avif"); */
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: 200px; */
    background-color: var(--color-4-dark);
    background-color: var(--color-7);
    background-color: var(--color-brand-2);
    background-color: var(--color-4-dark);
    background-color: var(--color-light);
    background-blend-mode: color-dodge;
    /* background-blend-mode: difference; */
    /* background-blend-mode: darken; */
    z-index: 1000;
  }
  .shader-container {
    min-height: 45vh;
    padding-bottom: 1rem;
    position: relative;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;

    @media (min-width: 700px) {
      height: auto;
    }

    .overlay-text {
      border: 1px solid white;
      font-size: var(--size-fluid-4);
      font-weight: bold;
      color: var(--color-brand-2);
      position: absolute;
      z-index: 10;
      pointer-events: none;
      top: 10%;
      left: 75%;
      transform: translateX(-90%);
      & p {
        color: white;
      }
    }
    & span {
      display: block;
    }
  }
</style>
