<a href="/"><img src="/images/logos/Logga-Trans.png" alt="" /></a>

<style>
  a {
    position: absolute;
    left: 4px;
    top: 2px;
    z-index: 1100;
    transition: scale 0.1s;
    width: 50px;
    rotate: -10deg;
  }

  @media (min-width: 700px) {
    a {
      width: 80px;

      top: 40px;
      left: 50%;
      transform: translate(-40%, -50%);
    }
  }
</style>
