---
import Icon from "./Icon.astro";
interface Props {
  bg?: string;
}

const { bg } = Astro.props;
---

<div class="word-carousel-container">
  <div class="carousel">
    <!-- Original set -->

    <span class="carousel-item brand-color">ESPRESSO</span>
    <span class="carousel-item brand-color2">EKOLOGISKT </span>
    <span class="carousel-item brand-color3">BIODYNAMISKT</span>
    <span class="carousel-item brand-color4">BRYGG</span>
    <span class="carousel-item brand-color5">DEMETER</span>
    <!-- Duplicate set for seamless loop -->
    <span class="carousel-item brand-color">ESPRESSO</span>
    <span class="carousel-item brand-color2">EKOLOGISKT</span>
    <span class="carousel-item brand-color3">BIODYNAMISKT</span>
    <span class="carousel-item brand-color4">BRYGG</span>
    <span class="carousel-item brand-color5">DEMETER</span>
  </div>
  <!-- Clone for seamless infinite scroll -->
  <div class="carousel" aria-hidden="true">
    <!-- Original set -->
    <span class="carousel-item brand-color">ESPRESSO</span>
    <span class="carousel-item brand-color2">EKOLOGISKT</span>
    <span class="carousel-item brand-color3">BIODYNAMISKT</span>
    <span class="carousel-item brand-color4">BRYGG</span>
    <span class="carousel-item brand-color5">DEMETER</span>
    <!-- Duplicate set for seamless loop -->
    <span class="carousel-item brand-color">ESPRESSO</span>
    <span class="carousel-item brand-color2">EKOLOGISKT</span>
    <span class="carousel-item brand-color3">BIODYNAMISKT</span>
    <span class="carousel-item brand-color4">BRYGG</span>
    <span class="carousel-item brand-color5">DEMETER</span>
  </div>
</div>
<style define:vars={{ bg }}>
  .brand-color {
    color: var(--color-4);
  }
  .brand-color2 {
    color: var(--color-1);
  }
  .brand-color3 {
    color: var(--color-brand-2);
  }
  .brand-color4 {
    color: var(--color-3);
  }
  .brand-color5 {
    color: var(--color-6);
  }
  .brand-color,
  .brand-color2,
  .brand-color3,
  .brand-color4,
  .brand-color5 {
    color: var(--color-brand-2);
  }

  .word-carousel-container {
    background-color: var(--color-brand-2);
    background-color: var(--bg);
    background-position: right;
    background-size: cover;
    font-size: var(--step-0);
    overflow: hidden;
    position: relative;
    display: flex;
    padding-block: 0.5rem;
    /* height: 30px; */
  }

  .carousel {
    display: flex;
    white-space: nowrap;
    animation: scroll2 20s linear infinite;
    font-family: var(--font-primary-heading);
    color: white;
    align-items: center;
  }

  .carousel-item {
    /* display: inline-block; */
    padding-inline: 2rem;
    display: flex;
    /* font-family: "Betelgeuse"; */
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Optional: Pause on hover */
  .word-carousel-container:hover .carousel {
    animation-play-state: paused;
  }
</style>
